body {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #FFF4A3;
}

h1,
.moves {
    text-align: center;
    word-spacing: 6px;
    -webkit-text-stroke: medium;
    letter-spacing: 6px;
}

.moves {
    letter-spacing: 4px;
    margin-top: -14px;
    padding-bottom: 10px;
}

.towers {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-evenly
}

.label {
    background: #adecde;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0;
    margin: 5px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tower {
    position: relative;
    height: 70vh;
    background: turquoise;
    margin-top: -5px;
    display: grid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tower,
.label {
    width: 98%;
    box-shadow: 3px 3px 2px gray;
}

.item {
    background: #D9EEE1;
    height: 20px;
    margin-top: 5px;
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-self: center;
    font-size: 1.2em;
    font-size: bolder;
    text-align: center;
    padding: 6px 0;
    border: solid 2px gray;
    border-radius: 4px;
    -webkit-text-stroke: medium;
}

.item:hover {
    cursor: pointer;
    background: #F3ECEF;
}

#item-1 {
    width: 26%;
}

#item-2 {
    width: 36%;
}

#item-3 {
    width: 46%;
}

#item-4 {
    width: 56%;
}

#item-5 {
    width: 66%;
}

#item-6 {
    width: 76%;
}

#item-7 {
    width: 86%;
}

#item-8 {
    width: 96%;
}

.is-playing {
    animation: blink 0.5s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}