body {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

.towers {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    background: pink;
    justify-content: space-evenly
}

.tower {
    height: 70vh;
    width: 98%;
    background: lightblue;
    margin: 5px;
}

.label {
    background: lightgreen;
    width: 98%;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0;
    margin: 5px;
}